.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
/.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/.idea/workspace.xml
/.idea/dataSources/c29ae432-f18f-4af8-8ffb-5582887791ad.xml
/.idea/checkstyle-idea.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/dataSources/c29ae432-f18f-4af8-8ffb-5582887791ad/storage_v2/_src_/database/receiptDB.tsyuKQ/schema/information_schema.FNRwLQ.meta
/.idea/misc.xml
/.idea/dataSources/c29ae432-f18f-4af8-8ffb-5582887791ad/storage_v2/_src_/database/receiptDB.tsyuKQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dataSources/c29ae432-f18f-4af8-8ffb-5582887791ad/storage_v2/_src_/database/receiptDB.tsyuKQ/schema/public.abK9xQ.meta
/.idea/dataSources/c29ae432-f18f-4af8-8ffb-5582887791ad/storage_v2/_src_/database/receiptDB.tsyuKQ.meta
/.idea/sqldialects.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
